<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   dockutil

   Created by Kyle Crawford on 2/21/22.
   Copyright (c) 2022 KC. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
